<link href="https://cdn.jsdelivr.net/gh/StephanWagner/svgMap@v2.1.1/dist/svgMap.min.css" rel="stylesheet">
<h2>Datenbankprojekt Sommersemester 2021</h2>
<p>Wie stehen CO2-Verbrauch, GDP und allgemeine 'Happiness' miteinander in Relation?</p>
<p>Hierzu lassen sich zu verschiedenen Ländern interaktive Visualisierungen anzeigen!</p>
<p>Probieren Sie es aus!</p>
<div  style="float:left"><app-scatter [dataHappiness]="dataSourceHappiness" [dataCO2]="dataSourceCO2" [dataGDP]="dataSourceGDP" [countries]="selectedCountries" [dataCovariance]="dataSourceCovariance"></app-scatter></div>
<div id="" style="overflow-y:scroll;float:left; height:400px;">
<li style="display: inline-block"*ngFor="let l of countries">
<a (click)="getAllData([l.code]); selectedCountries = ([l])">
[ {{l.entity}} ]</a>

</li>

</div>
<router-outlet></router-outlet>
