<h3>A. Visualisierung</h3>
Legende: <div style="color:green"><input  type="checkbox" [checked]="co2checked" (change)="co2checked = !co2checked">CO2-Emissionen (in Tonnen/Kopf)</div>

<div style="color: blue"><input  type="checkbox" [checked]="happinesschecked" (change)="happinesschecked = !happinesschecked">
    Happiness-Score</div>
    <div style="color:orangered"><input  type="checkbox" [checked]="gdpchecked" (change)="gdpchecked = !gdpchecked">
        BIP (USD / Kopf)</div>
    <!-- <h3>{{dataCO2[0].code}}</h3> -->
<h4>Diagramm </h4>
<figure id="scatter"></figure>
<p>Die Kovarianz zwischen CO2 und Happiness beträgt: {{dataCovarianceCO2}}</p>
<p>Die Kovarianz zwischen GDP und Happiness beträgt: {{dataCovarianceGDP}}</p>


